.pager-container {
    text-align: center;

    .md-button {
        display: inline-block;

        .material-icons {
            position: relative;
            top: 6px;
        }
    }

    .pager-text {
        display: inline-block;
    }
}

.dash-card {
    background: #eee;
}

.card-link {
    text-decoration: none;
    color: #000;
}

.start-date {
    margin-bottom: 3px;
}
