<md-content layout-padding>
  <h2>Templates</h2>
  <p>Aqui você encontra planilhas, templates de digaramas e outras ferramentas úteis para o seu projeto</p>
  <hr>
  <div class='md-padding custom-background' layout="row" flex>
    <div layout="row" flex layout-wrap>
      <div class="parent" layout="column" flex="33" flex-sm="50" flex-xs="100">
        <md-card md-theme-watch class="dash-card">
            <a href="https://firebasestorage.googleapis.com/v0/b/six-sigma-helper.appspot.com/o/commons%2FSixSigma%20Helper%20-%20SIPOC%20Template.xls?alt=media&token=e3022cd6-2f3f-4b83-981d-d865d941795f" target="_blank" class="card-link">
              <img src="../images/sipoc.png" class="md-card-image" alt="Templates">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">SIPOC</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  Template para montar o diagrama SIPOC do seu projeto
                </p>
              </md-card-content>
             </a>
        </md-card>
      </div>

      <div class="parent" layout="column" flex="33" flex-sm="50" flex-xs="100">
        <md-card md-theme-watch class="dash-card">
            <a href="https://firebasestorage.googleapis.com/v0/b/six-sigma-helper.appspot.com/o/commons%2FSixSigma%20Helper%20-%20Diagrama%20de%20Causa%20e%20Efeito%20Template.xlsx?alt=media&token=942e6181-7f39-46b7-bcec-5b2013d0b93b" target="_blank" class="card-link">
              <img src="../images/sipoc.png" class="md-card-image" alt="Templates">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Diagrama de Causa e Efeito</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  Template para montar o diagrama de causa e efeito (espinha de peixe) do seu projeto
                </p>
              </md-card-content>
             </a>
        </md-card>
      </div>

      <div class="parent" layout="column" flex="33" flex-sm="50" flex-xs="100">
        <md-card md-theme-watch class="dash-card">
            <a href="https://firebasestorage.googleapis.com/v0/b/six-sigma-helper.appspot.com/o/commons%2FSixSigma%20Helper%20-%20Matriz%20de%20Causa%20e%20Efeito%20Template.xlsx?alt=media&token=9645fab4-8d03-45f0-8ea1-199cdb9df0a4" target="_blank" class="card-link">
              <img src="../images/sipoc.png" class="md-card-image" alt="Templates">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Matriz de Causa e Efeito</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  Template para montar a matriz de causa e efeito do seu projeto
                </p>
              </md-card-content>
             </a>
        </md-card>
      </div>

      <div class="parent" layout="column" flex="33" flex-sm="50" flex-xs="100">
        <md-card md-theme-watch class="dash-card">
            <a href="https://firebasestorage.googleapis.com/v0/b/six-sigma-helper.appspot.com/o/commons%2FSixSigma%20Helper%20-%20Matriz%20Baseada%20no%20Crit%C3%A9rio%20Template.xlsx?alt=media&token=ad8e1bd1-9ddf-42bb-a9d9-608dfb66ce71" target="_blank" class="card-link">
              <img src="../images/sipoc.png" class="md-card-image" alt="Templates">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Matriz Baseada no Critério</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  Template para montar a matriz baseada no critério do seu projeto
                </p>
              </md-card-content>
             </a>
        </md-card>
      </div>

      <div class="parent" layout="column" flex="33" flex-sm="50" flex-xs="100">
        <md-card md-theme-watch class="dash-card">
            <a href="https://firebasestorage.googleapis.com/v0/b/six-sigma-helper.appspot.com/o/commons%2FSixSigma%20Helper%20-%20Plano%20de%20Controle%20Template.xlsx?alt=media&token=798af15d-3ce6-4a6b-955c-ea80122064a5" target="_blank" class="card-link">
              <img src="../images/sipoc.png" class="md-card-image" alt="Templates">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">Plano de Controle</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  Template para montar plano de controle do seu projeto
                </p>
              </md-card-content>
             </a>
        </md-card>
      </div>
    </div>
  </div>
</md-content>
