<md-content layout-padding>
  <h2>Templates</h2>
  <p>Aqui você encontra planilhas, templates de digaramas e outras ferramentas úteis para o seu projeto</p>
  <hr>
  <div class='md-padding custom-background' layout="row" flex>
    <div layout="row" flex layout-wrap>
      <div class="parent" layout="column" flex="33" flex-sm="50" flex-xs="100">
        <md-card md-theme-watch class="dash-card">
            <a href="https://firebasestorage.googleapis.com/v0/b/six-sigma-helper.appspot.com/o/commons%2FSixSigma%20Helper%20-%20SIPOC%20Template.xls?alt=media&token=e3022cd6-2f3f-4b83-981d-d865d941795f" target="_blank" class="card-link">
              <img src="../images/sipoc.png" class="md-card-image" alt="Washed Out">
              <md-card-title>
                <md-card-title-text>
                  <span class="md-headline">SIPOC</span>
                </md-card-title-text>
              </md-card-title>
              <md-card-content>
                <p>
                  Template para montar o diagrama SIPOC do seu projeto
                </p>
              </md-card-content>
             </a>
        </md-card>
      </div>
    </div>
  </div>
</md-content>