<md-button md-no-ink class="md-raised md-primary md-button md-ink-ripple" href="/post/new">New Post</md-button>
<div class='md-padding' layout="row" flex>
  <div layout="row" flex layout-wrap>
    <div class="parent" layout="column" ng-repeat="post in vm.posts" flex="33">
      <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{post.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>{{post.content}}</p>
          <div ng-repeat="comment in post.comments">
            <h3>Comments</h3>
            {{comment.content}}
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="private.edit({id: post.id})">Edit</md-button>
          <md-button ng-click="vm.showDialog(post)">Delete</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
<div class="pager-container">
  <md-button class="md-raised md-fab md-mini md-primary"
  ng-disabled="vm.pager.currentPage === 1" name="button"
  ng-click="vm.getPosts(vm.pager.currentPage - 1)">
  <i class="material-icons">keyboard_arrow_left</i>
  </md-button>
  <p class="pager-text">
    {{vm.pager.currentPage}}
    <span>of</span>
    {{vm.pager.totalOfPager}}
  </p>
  <md-button class="md-raised md-fab md-mini md-primary"
  ng-disabled="vm.pager.currentPage === vm.pager.totalOfPager"
  name="button" ng-click="vm.getPosts(vm.pager.currentPage + 1)">
    <i class="material-icons">keyboard_arrow_right</i>
  </md-button>
</div>
