/* -----------------------------------------------------------------------------
 * core - add any core styles here
 * -------------------------------------------------------------------------- */

// Note: Don't put component styles here. Put them in the appropriate component folder.

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  margin-top: 4px;
}

 .table-fixed {
  border-collapse: collapse;
}

.table-fixed tr {
  display: flex;
}

.table-fixed td {
  flex: 1;
}

.table-fixed thead th {
  display: block;
  flex: 1;
}

.table-fixed tbody {
  display: block;
  overflow-y: auto;
  height: calc(80vh - 10px);
}

.table-fixed tbody tr > td:last-child,
.table-fixed thead > th:last-child {
  width: 250px;
}

.table-fixed thead tr:after {
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.table-fixed th, td {
  min-width: 100px;
}

.table-fixed th:last-child,
.table-fixed tr > td:last-child {
  min-width: 250px;
}
