// ----------------------------------------------------------------------------
// core - add any core styles here
// ----------------------------------------------------------------------------

// Note: Don't put component styles here. Put them in the appropriate component folder.

* {
    box-sizing: border-box;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  margin-top: 4px;
}

main {
    width: 100%;
    height: auto;
    min-height: 100%;
}

md-progress-circular {
  margin: 0 auto;
}
