<div class="flexbox-parent">
  <div layout="row" layout-align="center center">
    <form name="loginForm" data-ng-submit="vm.handleSubmit(vm)" class="login__container">
      <h2 layout="row" layout-align="center center">Login</h2>

      <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
        <md-input-container class="md-block">
          <label>{{'USERNAME' | translate }}:</label>
          <input ng-model="vm.username" required>
        </md-input-container>
        <md-input-container class="md-block">
          <label>{{'PASSWORD' | translate }}:</label>
          <input ng-model="vm.password" type="password" required>
        </md-input-container>
        </md-content>
        <div layout="row" layout-align="center center">
          <md-button type="submit" class="md-raised md-primary md-button md-ink-ripple"
                     ng-class="{'md-raised md-hue-1': (loginForm.$dirty && loginForm.$valid) }"
                     aria-label="OK">
                  {{'LOGIN' | translate }}
          </md-button>
          <md-button type="button" ng-click="vm.handleCancel(); $event.stopPropagation();"
                     aria-label="Cancel">
                  Cancel
          </md-button>
        </div>
    </form>
  </div>
</div>
