/* -----------------------------------------------------------------------------
 * layout.scss
 * -------------------------------------------------------------------------- */

// Common layout definitions

[layout-wrap] {
-webkit-flex-wrap: wrap;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
}

.table-fixed {
  border-collapse: collapse;
}

.table-fixed tr {
  display: flex;
}

.table-fixed td {
  flex: 1;
}

.table-fixed thead th {
  display: block;
  flex: 1;
}

.table-fixed tbody {
  display: block;
  overflow-y: auto;
  height: calc(80vh - 10px);
}

.table-fixed tbody tr > td:last-child,
.table-fixed thead > th:last-child {
  width: 250px;
}

.table-fixed thead tr:after {
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

.table-fixed th, td {
  min-width: 100px;
}

.table-fixed th:last-child,
.table-fixed tr > td:last-child {
  min-width: 250px;
}

button {
    .material-icons {
        position: relative;
        top: 3px;
    }
}

md-icon {
    color: $main-bg-color !important;
    &.inverted {
        color: #000 !important;
    }
}

// Public view styles definition

.public-view {
    background: url('../images/login-bg.jpg');

    md-content {
        background: transparent;
    }
}

// forms layout

form {
    background: $main-bg-color;
}

// sidebar styles

.sidebar-header {
    background: url('../images/lateral_bar_bg.jpg');
    box-shadow: 1px 3px 4px #888;

    .profile-image-container img {
        width: 100%;
        border-radius: 50%;
        border: 4px solid $main-bg-color;
    }

    .welcome-message {
        color: $main-bg-color;
        font-size: 18px;
        text-shadow: 1px 1px 3px #000;
        span {
            font-size: 12px;
        }
    }
}

.sidebar-menu {
    a {
        color: #000;
        font-size: 18px;
        text-decoration: none;

        &:hover {
            opacity: .5;
        }

        md-icon {
            font-size: 18px;
        }
    }
}

.sticky-sidebar {
    box-shadow: 2px 0px 7px #333;
}

.button-menu {
    @include respond-to('md') {
        display: none;
    }
}

.toolbar-logo {
    display: none;
    @include respond-to('md') {
        display: block;
        height: 70%;
        margin-right: 10px;
    }
}
